@charset "utf-8";
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.photo-item {
  flex-grow: 1;
}

.item-list {
  max-width: 90%;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
}

.item-list a {
  display: block;
  transition-duration: 0.2s;
}

.item-list a:hover {
  transform: scale(1.05);
}

.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  color: rgb(87, 87, 87);
}

.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .shop-contents {
    display: block;
    max-width: 100%;
    margin-top: 60px;
  }

  .shop-item {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
  }

  .shop-menu {
    background-color: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
    margin-right: 0;
  }

  .shop-menu-inner {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-area {
    display: block;
  }

  .item-area img {
    width: 100%;
    max-width: 100%;
  }

  .about-item {
    margin-top: 20px;
    margin-left: 0;
  }

  .about-item a {
    width: 100%;
  }

  .footer {
    margin-top: 0;
  }
}
